* {
    padding: 0;
    margin: 0;
}

:root {
    --top-margine: 10px;
}

.container {
    display: grid;
    grid-template-columns: minmax(180px, 1fr) 5fr;
    grid-template-rows: auto;
    height: 100vh;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 3fr;
    padding: 10%;
    gap: 20%;

}

.nav-side,
.branding {
    display: grid;
    grid-template-columns: subgrid;
    gap: 5%;
}

.header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding-top: calc(min(18px, 2%));
    align-items: center;
    gap: 20%;
}

.main-content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 5%;

}

.project-cards {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;
}

.right-sidebar {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10%;
    margin: 5%;
}

.announcements,
.trending {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5%;
}

.projects .project {

    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;

}



.logo {
    display: grid;
    grid-template-columns: .5fr 1fr;
    align-items: center;
}

.logo span {
    margin-left: -1%;
    font-weight: bold;
}

.nav-side div,
.branding div {
    display: grid;
    grid-template-columns: .25fr 1fr;
    align-items: center;
}

.sidebar .icon {
    width: 100%;
    height: auto;
}

.header .icon {
    height: 25px;
    width: 25px;
}

.search {
    display: grid;
    grid-template-columns: .5fr 10fr;
    align-items: center;
    gap: 10px;
}

.header img, 
.t img {
    border-radius: 50%;
    height: 50px;
    width: 50px;

}

.user-control {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-right: 10%;
}




button {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    font-size: 100%;
}

.user-photo-name {
    display: grid;
    grid-template-columns: 1fr .5fr;
    align-items: center;
    justify-content: centergit;
}

.project-icon {
    width: 20px;
    height: 20px;
}

div.project {
    display: grid;
    grid-template-columns: 1fr;
    gap: .2fr;
}

.project-action {
    display: grid;
    grid-template-columns: repeat(3, .1fr);
    justify-content: right;
}

h1 {
    margin-bottom: 20px;
}


.main-content,
.annoucement {
    margin-top: 10%;

}

.announcement-container {
    display: grid;
    grid-template-columns: 1fr;
    border: solid grey;
 
}

hr {
    width: 90%;
    border-top: 1px solid grey; 
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.a span {
    display: inline-block;
    padding: 20px;
}


.t {
    display: grid;
    grid-template-columns: .1fr .4fr;
    align-items: center;
    
    
}